
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Username</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
          <input nz-input formControlName="nameUser" placeholder="Usuario requerido"/>
          <ng-template #userErrorTpl let-control>
            @if (control.errors?.['required']) {
              Por favor ingrese usuario!
            }
            @if (control.errors?.['invalid']) {
              Caracteres invalidos!
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
          <input nz-input formControlName="email" placeholder="email" type="email" />
          <ng-template #emailErrorTpl let-control>
            @if (control.errors?.['email']) {
              email no valido!
            }
            @if (control.errors?.['required']) {
              ingrese E-mail de usuario!
            }
            @if (control.errors?.['invalid']) {
              Caracteres invalidos!
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Por favor ingrese contraseña!">
          <input nz-input type="password" formControlName="pass" (ngModelChange)="validateConfirmPassword()" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Confirm Password</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
          <input nz-input type="password" formControlName="confirm" placeholder="Confirme contraseña" />
          <ng-template #passwordErrorTpl let-control>
            @if (control.errors?.['required']) {
              Please confirm your password!
            }
            @if (control.errors?.['confirm']) {
              Password is inconsistent!
            }
            @if (control.errors?.['invalid']) {
              Caracteres invalidos!
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin" class="checkbox-shift">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="admin">
            <span>Es administardor?</span>
          </label>
        </div>
      </div>
      <div nz-row class="login-form-margin" class="checkbox-shift">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="seller">
            <span>Es vendedor?</span>
          </label>
        </div>
      </div>
      <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
          <button nz-button (click)="resetForm($event)">Reset</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  