<button nz-button (click)="addRow()" nzType="primary">Add</button>
    <br />
    <br />
    <nz-table #editRowTable nzBordered [nzPageSize]=5 [nzData]="  this.users()    ">
      
      <thead>
        <tr>
          <th nzWidth="30%">Nombre</th>
          <th>Email</th>
          <th>Admin</th>
          <th>Ventas</th>
          <th>Activo</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data" class="editable-row">
          <td>
            <div class="editable-cell" [hidden]="editId === data._id" (click)="startEdit(data)">
              {{ data.nameUser }}
            </div>
            <input [hidden]="editId !== data._id" type="text" nz-input [(ngModel)]="data.nameUser" (blur)="stopEdit(data)" />
          </td>
          <td>
            <div class="editable-cell" [hidden]="editId === data._id" (click)="startEdit(data)">
              {{ data.email }}
            </div>
            <input [hidden]="editId !== data._id" type="text" nz-input [(ngModel)]="data.email" (blur)="stopEdit(data)" />
          </td>
          <td
          [nzChecked]= "data.role.admin" (change)="onCheckboxChange($event, data, 'admin')"
          ></td>
          <td
          [nzChecked]= "data.role.seller" (change)="onCheckboxChange($event, data, 'seller')"
          ></td>
          <td
          [nzChecked]= "data.active" (change)="onCheckboxChange($event, data, 'active')"
          ></td>
          <td>
            <a nz-popconfirm nzPopconfirmTitle=" .Eliminar..?" (nzOnConfirm)="deleteRow(data._id)">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </nz-table>